# 他の無視するファイルやディレクトリ
node_modules/
dist/
10.ImasSlOverLays/OCR/CapturedImages/*
Testdata/*
SongImage/*
# すべてのvenvディレクトリを無視
.venv/*
*/venv/*
venvBatch/

#VS Code設定
.vscode/

#Pythonのキャッシュファイル
__pycache__/
*/TestData/*
*/SongImage/*
*.mp4
/10.ImasSlOverLays/OCR/venv
/10.ImasSlOverLays/OCR/ImageAssets/TestData
/10.ImasSlOverLays/PaddleOCR/data
/10.ImasSlOverLays/PaddleOCR/venv
/10.ImasSlOverLays/react-fastApi/backend/Assets/TestData
/10.ImasSlOverLays/SceneDetecter/Assets/TestData
/10.ImasSlOverLays/SceneDetecter/venv
